.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "header header"
    "nav contentArea";

  grid-template-rows: 1fr 11fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
    grid-area: contentArea;
    background-color: yellow;
}